header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 3%;
}

a {
    text-decoration: none;
    font-weight: 400px;
}

.nav-links a {
    padding: 0px 20px;
    font-weight: 600;
}

.Icon {
    font-size: 45px;
}