header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 3%;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 10px;
}

a {
    text-decoration: none;
    font-weight: 400;
}

.nav-links a {
    font-weight: 600;
    font-size: 25px;
}

.nav-links {
    width: 450px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.Icon {
    font-size: 45px;
    font-weight: 600;
    white-space: nowrap;
}

.right-header {
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.left-header {
    align-items: center;
    justify-content: space-between;

}

@media only screen and (max-width: 500px) {
    
    .header {
        padding: 30px 3vw;
    }
    
    .Icon {
        font-size: 9vw;
    }

    .nav-links {
        width: 92vw;
    }

    .nav-links a {
        font-weight: 600;
        font-size: 5.2vw;
    }
}