.lore-text {
    color:black;
    background-color: white;
    font-weight: 400;
    line-height: 32px;
    font-size: 24px;
}

.lore-box {
    background-color: white;
    width: 85%;
    max-width: 900px;
    border-radius: 20px;
    padding: 35px 35px;
    margin: auto;
}

.titolo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    font-size: 30px;
}

.titolo-grande {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-weight: 800;
    font-size: 45px;
}

@media only screen and (max-width: 500px) {
    .lore-text {
        line-height: 6.8vw;
        font-size: 5vw;
    }

    .lore-box {
        padding: 6.5vw 6.5vw;
    }
}