.lore-text {
    color:black;
    background-color: white;
    font-weight: 400;
    line-height: 32px;
    font-size: 24px;
}

.lore-box {
    background-color: white;
    width: 85%;
    max-width: 900px;
    border-radius: 20px;
    padding: 35px 35px;
    margin: 30px auto;
}

.titolo{
    display: flex;
    justify-content: center;
    text-align: center;
}

.titolo-grande {
    display: flex;
    justify-content: center;
    font-weight: 800;
}

.titolo-box {
    width: 85%;
    max-width: 900px;
    border-radius: 20px;
    margin: 0 auto;
}

.prologo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-weight: 800;
}

@media only screen and (max-width: 500px) {
    .lore-text {
        line-height: 6.8vw;
        font-size: 5vw;
    }

    .lore-box {
        padding: 6.5vw 6.5vw;
        margin: 6vw auto;
    }

    .titolo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5.5vw;    
    }

    .titolo-grande {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        font-size: 7vw;
    }

    .prologo {
        margin-bottom: 6vw;
        font-size: 7vw;
    }
}