/*grafica layout-centrale*/
.layout-centrale {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

/*grafica degli stock*/
.stocks {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    width: min-content;
}

.single-stock {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    height: auto;
    padding: 8px 0;
    margin: 0;
}

.nome-stock {
    display: flex;
    justify-content: start;
    width: 232px;
}

.prezzo-stock {
    display: flex;
    justify-content: end;
    width: 116px;
}

.percentuale-stock {
    display: flex;
    justify-content: end;
    width: 116px;
}

.div-stock {
    border-top: 1px solid;
    border-color: #525357;
}


.stocks p {
    font-size: 18px;
    font-weight: 500;
}

/*grafica dati a lato*/

.parte-laterale {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/*testi laterali*/

.migliori-stock p{
    color: black;
    background-color: white;
    font-size: 22px;
    font-weight: 500;
}

.peggiori-stock p {
    color: black;
    background-color: white;
    font-size: 22px;
    font-weight: 500;
}

/*titoli laterali*/

.migliori-stock h1{
    color: black;
    background-color: white;
    font-size: 25px;
    margin-bottom: 5px;
}

.peggiori-stock h1{
    color: black;
    background-color: white;
    font-size: 25px;
    margin-bottom: 5px;
}

/*box laterali*/

.migliori-stock {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 25px 25px;
    width: 430px;
    height: fit-content;
}

.peggiori-stock {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 25px 25px;
    width: 430px;
    height: fit-content;
}

/*colore prezzi*/

.green {
    color: rgb(17, 187, 17);
}

.red {
    color: rgb(207, 0, 0);
}

@media only screen and (max-width: 500px) {

/*grafica degli stock*/

.stocks p {
    font-size: 4vw;
    font-weight: 400;
}

.stocks {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    margin: 0 auto;
    width: min-content;
}

.single-stock {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    height: auto;
    padding: 8px 0;
    margin: 0;
}

.nome-stock {
    display: flex;
    justify-content: start;
    width: 40vw;
}
    
.prezzo-stock {
    display: flex;
    justify-content: end;
    width: 30vw;
}
    
.percentuale-stock {
    display: flex;
    justify-content: end;
    width: 18vw;
    }

/*grafica layout-centrale*/

.layout-centrale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

/*testi laterali*/

.migliori-stock p{
    color: black;
    background-color: white;
    font-size: 4vw;
    font-weight: 500;
}

.peggiori-stock p {
    color: black;
    background-color: white;
    font-size: 4vw;
    font-weight: 500;
}

/*titoli laterali*/

.migliori-stock h1{
    color: black;
    background-color: white;
    font-size: 5vw;
    margin-bottom: 5px;
}

.peggiori-stock h1{
    color: black;
    background-color: white;
    font-size: 5vw;
    margin-bottom: 5px;
}

/*parte laterale*/
.parte-laterale {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}

/*box laterali*/

.migliori-stock {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 25px 25px;
    width: auto;
    height: fit-content;
}

.peggiori-stock {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 25px 25px;
    width: auto;
    height: fit-content;
}
}